body {
    background-image: url("https://www.altran.com/as-content/uploads/2017/05/2-6_industrials-electronics_v2_share_1200x600.jpg");
    background-size: auto 115vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu {
    background: rgba(2, 2, 10, 0.4);
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color:  whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title {
    color: whitesmoke;
    background: rgba(2, 2, 10, 0.5);
    text-align: center;
  }
  
  .site-subtitle {
    color: whitesmoke;
    background: rgba(2, 2, 10, 0.5);
    font-style: italic;
    text-align: center;
  }
  
  